asgiref==3.6.0
boto3==1.26.89
botocore==1.29.89
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==3.1.0
colorama==0.4.6
cycler==0.10.0
Django==4.1.4
django-storages==1.13.2
fonttools==4.39.0
glob2==0.7
idna==2.10
importlib-resources==5.12.0
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.21.5
opencv-python-headless==4.6.0.66
packaging==23.0
Pillow==9.4.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
requests-toolbelt==0.10.1
roboflow==0.2.21
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
tqdm==4.65.0
twilio==7.16.0
tzdata==2022.7
urllib3==1.26.6
wget==3.2
zipp==3.15.0
